In [16]:
%matplotlib inline
import pandas as pd
import gmaps
import requests
from config2 import g_key

In [18]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tadine,NC,2021-11-18 15:25:56,-21.5500,167.8833,75.15,84,63,9.17
1,1,Albany,US,2021-11-18 15:22:54,42.6001,-73.9662,63.18,82,74,4.00
2,2,New Norfolk,AU,2021-11-18 15:25:57,-42.7826,147.0587,50.76,84,91,2.55
3,3,Sola,VU,2021-11-18 15:25:57,-13.8833,167.5500,80.76,73,8,7.52
4,4,Fukue,JP,2021-11-18 15:25:57,32.6881,128.8419,61.68,48,3,10.11

In [19]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [20]:
gmaps.configure(api_key=g_key)

In [21]:
city_positive_data_df = city_data_df.loc[(city_data_df['Max Temp'] > 0)]
city_positive_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tadine,NC,2021-11-18 15:25:56,-21.5500,167.8833,75.15,84,63,9.17
1,1,Albany,US,2021-11-18 15:22:54,42.6001,-73.9662,63.18,82,74,4.00
2,2,New Norfolk,AU,2021-11-18 15:25:57,-42.7826,147.0587,50.76,84,91,2.55
3,3,Sola,VU,2021-11-18 15:25:57,-13.8833,167.5500,80.76,73,8,7.52
4,4,Fukue,JP,2021-11-18 15:25:57,32.6881,128.8419,61.68,48,3,10.11

In [22]:
locations = city_positive_data_df[["Lat", "Lng"]]

max_temp = city_positive_data_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, 
                                 dissipating = False, max_intensity = 300, 
                                 point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tadine,NC,2021-11-18 15:25:56,-21.5500,167.8833,75.15,84,63,9.17
3,3,Sola,VU,2021-11-18 15:25:57,-13.8833,167.5500,80.76,73,8,7.52
6,6,Eydhafushi,MV,2021-11-18 15:25:58,5.1033,73.0708,82.38,76,100,18.66
12,12,Atuona,PF,2021-11-18 15:25:59,-9.8000,-139.0333,77.40,74,16,13.06
18,18,Butaritari,KI,2021-11-18 15:26:02,3.0707,172.7902,81.39,78,100,12.91
22,22,Campoalegre,CO,2021-11-18 15:26:04,2.6849,-75.3231,80.22,75,93,3.91
26,26,Saint-Philippe,RE,2021-11-18 15:26:05,-21.3585,55.7679,78.39,74,43,13.91
32,32,Banjarmasin,ID,2021-11-18 15:26:08,-3.3244,114.5910,78.94,94,91,3.00
33,33,Harper,LR,2021-11-18 15:26:09,4.3750,-7.7169,83.80,71,35,8.19
35,35,Kapaa,US,2021-11-18 15:26:09,22.0752,-159.3190,75.18,84,20,5.75

In [27]:
preferred_cities_df.count()

City_ID       152
City          152
Country       151
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [28]:
preferred_cities_df = preferred_cities_df.dropna()

In [29]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [30]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Tadine      NC     75.15 -21.5500  167.8833
3             Sola      VU     80.76 -13.8833  167.5500
6       Eydhafushi      MV     82.38   5.1033   73.0708
12          Atuona      PF     77.40  -9.8000 -139.0333
18      Butaritari      KI     81.39   3.0707  172.7902
22     Campoalegre      CO     80.22   2.6849  -75.3231
26  Saint-Philippe      RE     78.39 -21.3585   55.7679
32     Banjarmasin      ID     78.94  -3.3244  114.5910
33          Harper      LR     83.80   4.3750   -7.7169
35           Kapaa      US     75.18  22.0752 -159.3190

In [33]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Tadine,NC,75.15,-21.5500,167.8833,
3,Sola,VU,80.76,-13.8833,167.5500,Leumerus Bungalows
6,Eydhafushi,MV,82.38,5.1033,73.0708,Soneva Fushi
12,Atuona,PF,77.40,-9.8000,-139.0333,Villa Enata
18,Butaritari,KI,81.39,3.0707,172.7902,Isles Sunset Lodge
22,Campoalegre,CO,80.22,2.6849,-75.3231,Punto 20 Hostal
26,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
32,Banjarmasin,ID,78.94,-3.3244,114.5910,Swiss-Belhotel Borneo Banjarmasin
33,Harper,LR,83.80,4.3750,-7.7169,Screensaver
35,Kapaa,US,75.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [39]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))