## Deliverable 3. Create a Travel Itinerary Map.

In [29]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [30]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Alofi,NU,78.69,light rain,-19.0595,-169.9187,Taloa Heights
1,3,Puerto Ayora,EC,73.36,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,5,Whithorn,JM,82.44,overcast clouds,18.2604,-78.0378,Sunset Heal
3,13,Atuona,PF,77.54,clear sky,-9.8000,-139.0333,Villa Enata
4,14,Bathsheba,BB,88.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel

In [31]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} °F and {Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [32]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Alofi,NU,78.69,light rain,-19.0595,-169.9187,Taloa Heights
1,3,Puerto Ayora,EC,73.36,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,5,Whithorn,JM,82.44,overcast clouds,18.2604,-78.0378,Sunset Heal
3,13,Atuona,PF,77.54,clear sky,-9.8000,-139.0333,Villa Enata
4,14,Bathsheba,BB,88.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel

In [33]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Iguala"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Iguala"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Coahuayana"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "La Orilla"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Petatlan"]

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, end: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (18.3438, -99.5372), end: (18.3438, -99.5372)
Stop 1: (18.7333, -103.6833), Stop 2: (17.9833, -102.2333), Stop 3: (17.5167, -101.2667)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,227,Iguala,MX,83.64,clear sky,18.3438,-99.5372,Gran Plaza Hotel Centro Historico
1,327,Coahuayana,MX,89.08,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
2,284,La Orilla,MX,82.96,clear sky,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
3,520,Petatlan,MX,89.40,few clouds,17.5167,-101.2667,Hotel California Petatlán

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} °F and {Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))